.flex{
    display:flex;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.uppercase{
    text-transform: uppercase;
}

.bolder{
    font-weight: bolder;
}

.attribute{
    color: inherit; /* Inherit the color from the parent element */
    text-decoration: none; /* Remove the underline */
}

.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}

.flex-wrap{
    flex-wrap: wrap;
}